:root{
    --green: #009933 ;
    --darkblue: #123845;
    --fontblue: #142D36;
    --lightblue: #3992CC;
    --lightgrey: #6D7578;
    --pink: #FF3A44;
    --purple: #845CA7;
    --lightgreen: #2DA771;


}
*, *::before, *::after{
    box-sizing: border-box !important;
}
body a, li{
    text-decoration: none;
    list-style: none;
}

/* nav */
.custom__nav-link{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem;        
    color: hsla(0, 0%, 0%, 1) !important;
}
.custom__nav-link-1{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem; 
    color: #FF3A44!important;
}
.btn-custom{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem; 
    background-color: var(--darkblue) !important;
    color: white !important;
}




/* main */

.about-hero{
    background-color: var(--darkblue);
    width: 100% !important;
    min-height:350px !important;
    border-radius: 40px !important;
}
.reuseable{
    color: var(--green) !important;
}
.sustainability{
    color: #E75E79;
}
.sustainable{
    color: var(--purple);
}
.w-g{
    color: #00A0FF;

}
.hero-text {
    margin: 20px  0px !important;
}
.hero-text h1{
    margin: 0 auto !important;
    width: 100% !important;
}
.hero-text p{
    width: 100% !important;
    margin-top: 0px !important;
}
.scribbling{
    position: absolute;
    width: 25%;
    top: 150px;
    left: -90px;
    
}
.recyle-section{
    font-family: 'Avenir', sans-serif;
}

.doddle{
    position: absolute;
    width: 30%;
    top: -60px;
    right: 80px;
    
}
.recycle-img{
    width: 100%;
}
.recyle-text{
    color: var();
}
.recyle-text--heading{
    font-weight: 900!important;
    font-size: 1rem !important;
}

.recyle-text--desc{
    font-size: 1.2rem !important;
    text-align: start !important;
  
}
.our-company{
    margin-top: 30px !important;
    font-family: 'Avenir', sans-serif;
    
    /* overflow-x: scroll; */
   
}
.company-title{
    font-size: 2rem !important;

}
.table{
    font-size: 1.2rem !important;
    
}
.company-text{
    font-size: 1.2rem !important;
    text-align: justify;
}

.custom-table::-webkit-scrollbar-thumb {
    background: var(--lightblue) !important; 
  }
.custom-table::-webkit-scrollbar {
    background:  #e5e5e5 !important; 

  }

.sdg-img{
    width: 100%;
    z-index: 20;
}
.sdg-ellipse{
    position: absolute;
    width: 40%;
    top: 110px;
    left: 330px;
    z-index: 0;
}
.sdg-section{
    font-family: 'Avenir', sans-serif;
    margin-top: 6rem !important;
}
.the-team{
    font-family: 'Avenir', sans-serif;
    margin-top: 10rem !important;
}

.team-border{
   border: 2px solid var(--purple) !important;
   border-radius: 80px !important;
   padding: 1rem!important;
   box-shadow: -7px 7px 2px 0px #dbc51f93;
}

.team-title{
    background-color: #F6DB49;
    border-radius: 25px !important;
}
.team-2-row{
    padding: 0 25px;
}

.avatar{
    width:50%;
    
}
.avatar-hover{
    position: absolute !important;
    width: 100% !important;
    left: -60px;
    top: 90px;
}
.card{
    width: 100%;
    z-index: 400;
}
.card-body{
    font-family: 'avenire',sans-serif;                                                                                                                                  
    width: 100%;
    text-align: start;
    font-size: .9rem;
}

.ceo-card{
    position: absolute;
    display: none;
    left: 25%;
    top:10%;
}




#member-1:hover ~ .member-1{
    display: block!important;
    
}
#member-2:hover ~ .member-2{
    display: block!important;
}
#member-3:hover ~ .member-3{
    display: block!important;
}
#member-4:hover ~ .member-4{
    display: block!important;
}
#member-5:hover ~ .member-5{
    display: block!important;
}
#member-6:hover ~ .member-6{
    display: block!important;
}
#member-7:hover ~ .member-7{
    display: block!important;
}
.btn-primary-custom{
    background-color: var(--darkblue) !important;
    color: white !important;
    text-transform: capitalize;
}


.join-team{
    background-color: #F6DB49;
    padding: 1rem 0 !important;
    border-radius: 100px;
    margin: 6rem 0px!important;
}

/* footer */
.subscribe{
    background-color: var(--lightblue);
    border-radius: 45px;
    
}



.footer-border{
    margin-top: 55px !important;
    border-radius: 160px !important;
    border: 2px solid black !important;
    padding: 50px;
    font-family: 'Avenir', sans-serif;
    
}
footer li a{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
footer li a:hover{
    color: var(--purple);
}
.footer-heading{
    color: black;
    font-weight: 900;
}
.reach-out{
    font-size: .8rem !important ;
}




@media (min-width:375px){
   
    .about-section{
        margin-top: 10rem !important;
    }
    .hero-text{
        margin: 60px auto !important;
        
    }
    .hero-text p{
       font-size: 1.2rem !important;
       text-align: center !important;
        margin: 20px auto !important;
        padding: 0 4px !important;
      
    }
    .company-title{
        font-size: 1.6rem !important;
    }
    
    .hero-text h1{
       font-size: 1.8rem !important;
       
    }
    .scribbling{
        width: 80%;
        top: 400px !important;
        left: 30px !important;
    }

    .team-border{
        border-radius: 40px !important;
     }
    .avatar{
        width: 100%;
     }
     .join-team{
        border-radius: 40px;
        margin: 6rem 0px!important;
    }
    .footer-border{
        border-radius: 40px !important;
    }
}

@media (min-width:576px){
    .hero-text{
        padding: 50px 0 30px 0 !important;
    }
    .hero-text h1{
        width: 100% !important;
        font-size: 2rem !important;
        padding-left: 0rem !important;
    }
    .hero-text p{
        width: 90% !important;
        text-align: center !important;
        margin: 10px auto !important;
        font-size: 1.2rem !important;
      
    }
    .company-title{
        font-size: 1.5rem !important;
    }
    .company-text, .recyle-text--desc{
        font-size: 1.1rem !important;
    }
    table tbody td  {
        font-size: 1.1rem !important;
        
    }
    .scribbling{
        width: 55% !important;
        top: 450px !important;
        left: 90px !important;
    }
    .team-border{
        border-radius: 120px !important;
    }
    .team-title{
        font-size: 1.5rem !important;
    }
    
    .team-desc{
        font-size: 1.1rem !important;
       }
    .avatar{
        width: 50%;
     }
     .gg{
        width: 90% !important;
        padding-left: .5rem !important;
    }
}

@media (min-width:768px){
    .hero-text{
        padding-top: 40px !important;
    }
    .hero-text h1{
       font-size: 2.3rem !important;
       width: 90% !important;
      
    }
    .hero-text p{
       
        margin-top: 12px !important;
        text-align: center  !important;
        font-size: 1.2rem !important;
      
    }
    .scribbling{
        top: 100px !important;
        left: 150px !important;
        width: 20% !important;
    }
    .team-title{
        font-size: 1.8rem !important;
    }
    .team-border{
        border-radius: 120px !important;
       
     }
    .avatar{
        width: 50%;
     }
    
     .subscribe{
        border-radius: 70px;
    }
    
    .subscribe-text{
        font-size: 1rem !important;
    }
    .join-team{
        border-radius: 100px;
    }
}

 @media (min-width:992px){
    .hero-text{
        padding: 70px 0 !important;
    }
    
    .hero-text h1{
        width: 90% !important;
        margin: 0px auto !important;
        padding-left: 2.8rem !important;
         font-size: 3rem !important;

    }
    .hero-text p{
        width: 100%;
        padding-left: 2.8rem !important;
        text-align: center !important;
        padding-top: 20px !important;
      
    }
    .scribbling{
       width: 30% !important;
       top: 80px !important;
       left: -100px !important;
    }
    
    .company-title{
        text-align: start !important;
    }
    .team-title{
        font-size: 1.8rem !important;
    }
    .team-desc{
        font-size: 1.2rem !important;
       }
    .join-team{
        border-radius: 120px;
    }
   
    .subscribe-text{
        font-size: 1.5rem !important;
    }
    .subscribe{
        border-radius: 80px;
    }
   
    .team-border{
        border-radius: 120px !important;
       
     }
} 

@media (min-width:1200px){

    .hero-text{
        padding: 70px 0 !important;
    }
    
    .hero-text h1{
        width: 90% !important;
        margin: 0px auto !important;
        /* padding-left: 2.8rem !important; */
         font-size: 3rem !important;

    }
    .hero-text p{
        width: 100%;
        /* padding-left: 2.8rem !important; */
        text-align: center !important;
        padding-top: 20px !important;
      
    }
    .scribbling{
        position: absolute;
        width: 25% !important;
        top: 200px !important;
        left: -90px !important;
        
    }

    .company-title{
        font-size: 1.8rem !important;
    }
    
    .team-title{
        font-size: 2rem !important;
    }
  
    .team-desc{
     font-size: 1.2rem !important;
    }
    .team-border{
        border-radius: 120px !important;
    }
    .subscribe{
        border-radius: 80px;
    }
    .footer-border{
        border-radius: 150px !important;
    }
}
