:root{
    --green: #009933 ;
    --darkblue: #123845;
    --fontblue: #142D36;
    --lightblue: #3992CC;
    --lightgrey: #6D7578;
    --pink: #FF3A44;
    --purple: #845CA7;
    --lightgreen: #2DA771;


}
*, *::before, *::after{
    box-sizing: border-box !important;
}
body a, li{
    text-decoration: none;
    list-style: none;
}


/* nav */
.custom__nav-link{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem;        
    color: hsla(0, 0%, 0%, 1) !important;
}
.custom__nav-link-1{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem; 
    color: #FF3A44!important;
}
.btn-custom{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem; 
    background-color: var(--darkblue) !important;
    color: white !important;
}

.hero-section{
    background-image: url('../images/impact/hero-rectangle.png');
    width: 100% !important;
    min-height: 700px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 80px !important;
    
}

.hero-text--heading span{
    color: transparent;
  text-shadow: 6px -4px 0px white;
  -webkit-text-stroke:1px white ;

  
}

.hero-text--body{
    width: 60% !important;
}
.women-text{
    font-size: 1.2rem !important;
}
.row-2{
    margin: 20px 0;
}
.click-here a{
    font-size: 1rem !important;
}
.years{
    font-size: 1.5rem !important;
}
.engaged p{
    font-size: 3rem !important;
    
}
.engaged span{
    font-size: 1.3rem !important;
}
.sustainable{
    color: var(--purple);
}
.click-here{
    color: #FF3A44;
}

.scribbling-impact{
    position: absolute;
    width: 25%;
    top: 140px;
    left: -90px !important;
    
}
.circular-scribbling{
    position: absolute;
    width: 20%;
    top: 300px;
    left: 220px;
}
.circular-scribbling-1{
    position: absolute;
    width: 20%;
    top: 835px;
    left: 220px;
}


/* slider */
.slider-title{
    font-size: 2rem !important;
    color: var(--fontblue);
    font-weight: 700;
}

.slider-main{
   /* background-color: whitesmoke; */
    min-height: 400px;
    border-radius: 10px;
}
/* .slider-img{
    width: 100%;
    height: 200px !important;
    padding: 4rem 4rem !important;
    object-fit: contain;
    
} */
.carousel-head, .carousel-subhead {
    background-color: rgba(240, 248, 255, 0.574);
    color:  var(--fontblue);
    border-radius: 100px;
    padding: 0 1rem;
}

/* content-creators */
.content-creators{
   font-family: 'Avenir', sans-serif;
   border: 2px solid white;
   box-shadow: -7px 7px 2px 0px #E1DFF4;
   border-radius: 10px;
   padding: 2rem 0px;
   margin: 3rem 0;
}
.custom-warning{
    background-color: #F6DB49;
}
.custom-container{
    border: 2px solid black;
    border-radius: 60px;
    width: 700px !important;
    margin: 0 auto;
    padding: 1.8rem 0;
   box-shadow: -7px 7px 2px 0px #F6DB49;
}

/* footer */
.subscribe{
    background-color: var(--lightblue);
    border-radius: 45px;
    
}


.footer-border{
    margin-top: 55px !important;
    border-radius: 160px !important;
    border: 2px solid black !important;
    padding: 50px;
    font-family: 'Avenir', sans-serif;
    
}
footer li a{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
footer li a:hover{
    color: var(--purple);
}
.footer-heading{
    color: black;
    font-weight: 900;
}
.reach-out{
    font-size: .8rem !important ;
}




 @media (min-width:375px){
    .hero-text--heading{
        font-size: 2rem !important;
        width: 80% !important;
    }
    .hero-text--body{
        width: 80% !important;
        
    }
 .women-text{
    font-size: 1rem !important;
 }
   
 .click-here a{
    width: 100% !important;
    text-align: center !important;
 }
 .engaged p{
    font-size: 2rem !important;
    
}
.engaged span{
    font-size: 1rem !important;
}
.content-title{
    font-size: 1.6rem;
    margin-bottom: 25px;
}
.slider-title{
    font-weight: 700;
    font-size: 1.3rem !important;
}

    .custom-container{
        width: 100% !important;
    }
    .custom-warning{
        background-color: #F6DB49;
        margin-left: 6%;
    }
   .footer-border{
        border-radius: 40px !important;
   }
} 

@media (min-width:576px){
   
    .hero-text--heading{
        font-size: 2rem !important;
        width: 100% !important;
    }
    .hero-text--body{
        width: 100% !important;
    }
    .women-text{
        font-size: 1rem !important;
    }
    .slider-img{
        width: 100%;
        height: 400px !important;
        padding: 0rem 0rem !important;
        
    }
    .content-creators{
        padding: 0rem 0px;
        margin: 0rem 0;
     }
    .content-title{
        font-size: 1.6rem;
        margin-bottom: 25px;
    }
    .slider-title{
        font-weight: 700;
        font-size: 1.5rem !important;
    }
    .custom-container{
        width: 100% !important;
    }
    .custom-warning{
        background-color: #F6DB49;
        margin-left: 0px;
    }
    .scribbling-impact{
        position: absolute;
        width: 25%;
        top: 140px;
        left: -90px;
        display: none !important;
        
    }
}
@media (min-width:768px){
   
    .hero-text--body{
       width: 80% !important;
    }
    .women-text{
        font-size: 1rem !important;
    }
    .click-here a, .click-here{
        font-size: .8rem !important;
    }
    .engaged p{
        font-size: 2.5rem !important;
    }
    .engaged span{
        font-size: 1.1rem !important;
    }
    .content-title{
        font-size: 2.1rem;
        margin-bottom: 25px;
    }
   
    .slider-title{
        font-weight: 500;
        font-size: 1.8rem !important;
    }
   
   .plastic-report{
        font-size: 1.5rem;
   }
   .custom-container{
        border-radius: 80px;
}
}
@media (min-width:992px){
   
      
      .scribbling-impact{
          position: absolute;
          width: 25%;
          top: 300px;
          left: -80px !important;
          
      }
    .content-title{
        font-size: 1.8rem !important;
    }
     
   
   
}
@media (min-width:1200px){
    
   
    .hero-text--heading span{
      color: transparent;
      text-shadow: 6px -4px 0px white;
      -webkit-text-stroke:1px white ;
    
      
    }
    .hero-text--heading{
        font-size: 2.5rem !important;
    }
    .hero-text--body{
        width: 60% !important;
    }
    
   
    .women-text{
        font-size: 1.2rem !important;
    }
    .click-here a{
        font-size: 1rem !important;
    }
    .years{
        font-size: 1.5rem !important;
    }
    .engaged p{
        font-size: 3rem !important;
        
    }
    .engaged span{
        font-size: 1.3rem !important;
    }
    .sustainable{
        color: var(--purple);
    }
    .click-here{
        color: #FF3A44;
    }
    
    .scribbling-impact{
        position: absolute;
        width: 25%;
        top: 140px;
        left: -90px !important;
        
    }
    .circular-scribbling{
        position: absolute;
        width: 20%;
        top: 300px;
        left: 220px;
    }
    .circular-scribbling-1{
        position: absolute;
        width: 20%;
        top: 835px;
        left: 220px;
    }
    
    
    /* slider */
    .slider-title{
        font-size: 2rem !important;
        color: var(--fontblue);
        font-weight: 700;
    }
    
    .slider-main{
       /* background-color: whitesmoke; */
        min-height: 400px;
        border-radius: 10px;
    }
    .slider-img{
        width: 100%;
        height: 200px !important;
        padding: 4rem 4rem !important;
        object-fit: contain;
        
    }
    .carousel-head, .carousel-subhead{
        background-color: rgba(240, 248, 255, 0.574);
        color:  var(--fontblue);
        border-radius: 100px;
        padding: 0 1rem;
    }
    
    /* content-creators */
    .content-creators{
       font-family: 'Avenir', sans-serif;
       border: 2px solid white;
       box-shadow: -7px 7px 2px 0px #E1DFF4;
       border-radius: 10px;
       padding: 2rem 0px;
       margin: 3rem 0;
    }
    .custom-warning{
        background-color: #F6DB49;
    }
    .custom-container{
        border: 2px solid black;
        border-radius: 80px;
        width: 700px !important;
        margin: 0 auto;
        padding: 1.8rem 0;
       box-shadow: -7px 7px 2px 0px #F6DB49;
    }
    
    /* footer */
    .subscribe{
        background-color: var(--lightblue);
        border-radius: 45px;
        
    }
    .content-title{
        font-size: 2.5rem;
        margin-bottom: 25px;
    }
   
}