:root{
    --green: #009933 ;
    --darkblue: #123845;
    --fontblue: #142D36;
    --lightblue: #3992CC;
    --lightgrey: #6D7578;
    --pink: #FF3A44;
    --purple: #845CA7;
    --lightgreen: #2DA771;


}
*, *::before, *::after{
    box-sizing: border-box !important;
}
body a, li{
    text-decoration: none;
    list-style: none;
}

/* nav */

.cust-nav-bar{
    width:100%;
}
.cust-logo{
    width: 60%;
}
.custom__nav-link{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem;        
    color: hsla(0, 0%, 0%, 1) !important;
}
.custom__nav-link-1{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem; 
    color: #FF3A44!important;
}
.btn-custom{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem; 
    background-color: var(--darkblue) !important;
    color: white !important;
}

/* main */

.hero-img{
    background-image: url("../images/hero_rectangle.png");
    width: 100% !important;
    min-height: 450px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 50px !important;
}
.hero-text h1{
    font-family: 'Milligram Trial', sans-serif;
}
.reuseable{
    color: var(--green) !important;
}
.hero-text .animate-text u{
    display: inline-block;
    display: none;
}

.hero-text span u.text-in{
	display: block;
	animation: textIn .5s ease;
}
.hero-text span u.text-out{
	animation: textOut .5s ease;
}
@keyframes textIn{
	0%{
		transform: translateY(30%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-30%);

	}
}
.hero-text p{
    font-family: 'Avenir', sans-serif;
    font-size: 1.3rem !important;
    font-weight:100 !important;
}


.btn-custom-1{
    background-color: var(--lightblue) !important;
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem !important;
    font-weight:200 !important;

}
.btn-custom-2{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem !important;
    font-weight:300 !important;
    /* margin-left: 1rem; */
}


.mission{
 position: absolute;
 top: -15px;
 left: 680px;
}
.sav_earn-img {
    position: absolute;
    top: -100px;
    left: 720px;
    z-index: 50;
}
.plastic-stats{
    padding-top: 5rem;
} 
.text-group span{
    font-size: 1.3rem !important;
}
.waste_figures{
    font-family: 'Neogrey Medium', sans-serif;
    font-size: 1.3rem !important;
    color: var(--darkblue);
}

.waste_figures__desc{
    font-family: "Avenir", sans-serif;
    font-size: 1rem !important;
    color: var(--lightgrey);
    height: 60% !important;
    
}
.waste_figures__link {
    font-family: "Avenir", sans-serif;
    font-size: 0.9rem !important;
    color: var(--pink) ;
   
}
.waste_figures__link-1{
    color: var(--purple);
    font-size: 0.9rem !important;
    font-family: "Avenir", sans-serif;
   

}
.waste_figures__link-2{
    color: var(--green);
    font-size: 0.9rem !important;
    font-family: "Avenir", sans-serif;

   

}
.plastic_stats{
   margin-top: 20px;
}

.seal-video-section{
    margin-top: 20%!important;
}
.video-circle {
    width: 100%;
}


.brand-testimonial{
    width: 100%;
    /* background-color: #F9FBFA; */
    /* min-height: 300px; */
}
.partners-img-1{
    width: 80%;
    margin-top: 4rem;
    /* margin-left: 1rem; */
}
.partners-img-3{
    width: 50%;
    margin-top: 1rem;

}
.partners-img-4{
    width: 80%;
    margin-top: 1.5rem;

}
.users-category-detail{
    display: none;
}
.showing{
    display: block !important;
}
.custom-list{
    font-family: "Avenir", sans-serif;
    font-size: 1.2rem !important;
    color: var(--fontblue);
    background-color: #F5F5F5;
    border: 1px solid #E2E2E2;
}
/* .nav-link{
    font-family: "Avenir", sans-serif !important;
    font-size: 1.2rem !important;
    color: var(--fontblue) !important;
    background-color: #F5F5F5 !important;
    border: 1px solid #E2E2E2 !important;
}
.nav-link:hover{
    background-color: var(--lightgreen) !important;
    border-color: var(--green) !;
    color: white !important;
} */

.custom-list:hover{
    background-color: var(--lightgreen);
    border-color: var(--green);
    color: white !important;
    }


.image-container{
    position: relative;
}

.elipse-img{
    width: 100% !important;
}
.download-icon{
    position: absolute;
    top: 10px;
    left: 80px;
    right: -40px;
    width: 65%;
    z-index: 10;

}
.try-out{
    /* margin-right: 1rem 3rem; */
    background-image: url('../images/hero_rectangle.png');
    width: 100% !important;
    min-height: 450px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 50px !important;
    z-index: 300;
}
.apple{
    position: absolute;
    top:300px;
    left: 95px;
    right: 30px;
    width: 25%;
    z-index: 20;
    }

.arrow-left{
    position: absolute;
    top: 400px;
    left: 180px;
    background-color: rgb(141, 140, 255, 20%);
    width: 80px;
    height: 80px;
    z-index: 30;
    border-radius: 50%;
    cursor: pointer;
}
.arrow-right{
    position: absolute;
    top: 400px;
    left: 290px;
    background-color: rgb(141, 140, 255, 80%);
    width: 80px;
    height: 80px;
    z-index: 30;
    border-radius: 50%;
    cursor: pointer;
}
.arrow-right:hover{
    background-color: rgb(141, 140, 255, 150%) !important;
}
.arrow-left:hover{
    background-color: rgb(141, 140, 255, 40%);
}
.ellipse{
    width: 500px; 
    height: 500px; 
    background-color: #e5e5e5; 
    border-radius: 50%;
}

.circle-left{
    background-color: rgb(150, 150, 223); 
    border-radius: 50%; 
    height: 100px; 
    width: 100px;
    top: 350px;
    left: 160px;
}
.circle-right{
    background-color: rgb(143 135 246); 
    border-radius: 50%;
    height: 80px; 
    width: 80px;
    top: 350px;
    left: 280px;
}
.btn-earn{
    margin: auto !important;
    cursor: pointer;
}
.why-section{
   background-color: #F6F4F9; 
   padding-top: 20px;
   padding-bottom: 80px;
   
   
}
.why-heading{
    font-family: 'Avenir', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: var(--darkblue);
}
.why-desc{
    font-family: 'Avenir', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    color: #7E7E7E;
    width: 400px;
}
.custom__nav-item{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    background-color: transparent !important;
}
.custom__nav-item:hover{
    border-radius: 30px !important;
    background-color: black !important;
    color: #ffff !important;
}
.video-circle{
    width: 100%;
}
.why-img,.economic-img,.social-img, .tech-img{
    width: 80% !important;
    position: relative;
    margin-bottom: 20px !important;
}
.img-text{
    font-family: 'Avenir', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    width: 25rem;
    position: absolute;
    top: 420px;
    left: 70px;
    text-align: center;
    
}
.get-app{
    padding-top: 60%;
    z-index: 500;
}

.scribbling{
    position: absolute;
    width: 60%;
    top: 60px;
    left: -115px;
    z-index: 100;
    
}

.try-out--img{
    width: 100%;
    height: 400px;
}

.sustainable{
    color: var(--purple);
}
.appstore-btn{
    width:20%;
    
}
.googleplay-btn{
    width:20%;
   
}
.cust-accord-btn{
    font-size: 1.5rem !important;
}
.accordion--btn{
    border: none !important;
    background-color: #F5F5F5 !important;
    
}
.more{
    color: var(--pink);
}

/* footer */
.subscribe{
    border-radius: 100px !important;
}
.footer-border{
    border-radius: 600px !important;
}


/* faq page styling*/

.cust-search{
    background-color: #f5f5f5 !important;
    width: 60% !important;
    margin: 0 auto;
}
.search-icon{
    height: 50px !important;
    padding: 10px;
}
.other-question{
    width: 10%;
    
}


.accordion-button.collapsed::after {
    background-image: url( '../images/add-circle.svg'
    );
    margin-left: auto;
  }
  .accordion-button-active::after {
    background-image: url("../images/minus-solid.svg");
  }

  
/* footer */
.subscribe{
    background-color: var(--lightblue);
    border-radius: 45px;
    
}


.footer-border{
    margin-top: 55px !important;
    border-radius: 160px !important;
    border: 2px solid black !important;
    padding: 50px;
    font-family: 'Avenir', sans-serif;
    
}
footer li a{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
footer li a:hover{
    color: var(--purple);
}
.footer-heading{
    color: black;
    font-weight: 900;
}
.reach-out{
    font-size: .8rem !important ;
}
@media (max-width:1400px){

    .sav_earn-img{
        top: -190px;
        left: 580px !important;
        width: 100%;
        z-index: 1;

    }
    .mission{
        left: 650px !important;
        z-index: 10;
    }
  
    .shoppers{
        position: absolute;
        top: 100px;
        left: 150px;
        width: 40%;
       
      }

    .try-out--text{
        top: 60px;
        left: 200px;
    }

    .ellipse{
        width: 500px; 
        height: 500px; 
        background-color: #e5e5e5; 
        border-radius: 50%;
    }
    .circle-left{
        background-color: rgb(182, 182, 235); 
        border-radius: 50%;
        height: 80px; 
        width: 80px;
    }
    .circle-right{
        background-color: rgb(143 135 246); 
        border-radius: 50%;
        height: 80px; 
        width: 80px;
    }
   

    .partners-img-1{
        width: 80%;
        margin-top: 4rem;
        /* margin-left: 1rem; */
    }
    .partners-img-3{
        width: 50%;
        margin-top: 1rem;
    
    }
    .partners-img-4{
        width: 80%;
        margin-top: 1.5rem;
    
    }
    /* .elipse-img{
        width: 70% !important;
    } */
    /* faq */
    .other-question{
        width: 50%;
        
    }

}
@media(max-width:1199px){
    .sav_earn-img{
       
        display:  none !important;
    
    }
    .mission{
       
        display: none !important;
    } 


}
@media(max-width:991px){
    .custom-flex{
        display: flex !important;
        flex-direction: row !important;
        
    }
    .btn-custom-2 {
        margin-top: 1rem;
        width: 80% !important;
        border: 2px solid white !important;
        border-radius: 25px !important;
    }
    .btn-custom-1{
        width: 80% !important;
    }
.sav_earn-img{
    top: -100px;
    left: 580px !important;
    width: 100%;
    z-index: 1;
    display:  none !important;

}
.mission{
    left: 650px !important;
    z-index: 10;
    display: none !important;
} 
.ellipse{
    width: 400px; 
    height: 400px; 
}
.circle-left{
    background-color: rgb(182, 182, 235); 
    border-radius: 50%;
    height: 80px; 
    width: 80px;
    top: 280px;
    left: 110px;
    /* display: none; */
}
.circle-right{
    background-color: rgb(143 135 246); 
    border-radius: 50%;
    height: 80px; 
    width: 80px;
    top: 280px;
    left: 240px;
    /* display: none; */
} 
.shoppers{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 50%;
}
     
.why-desc{
    font-family: 'Avenir', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    width: 100%;
}

    .mission{
        left: 350px !important;
    }
    .sav_earn-img{
        left: 390px !important;

    }
   
    .apple{
        top: 210px;
        left: 120px;
       
      }

      .google{
        top: 210px;
        left: 250px;
       
      }

      .arrow-left{
        top: 300px;
        left: 140px;
       
      }
      .arrow-right{
        top: 300px;
        left: 240px;
       
      }
      .scribbling{
        width: 60%;
        top: 110px;
        left: -28px;
        
    }

    .img-text{
        top: 400px;
        left: 60px;
        
    }
    .appstore-btn{
        width:20%;
    }

    /* footer */

    .subscribe{
        border-radius: 80px;
    }
    
    .footer-border{
        border-radius: 160px !important;
    }

    /* faq */
    .other-question{
        width: 80%;
        
    }

}


@media (max-width: 768px) {
    .sav_earn-img{
        top: -120px;
        left: 370px !important;
        width: 100%;
        z-index: 5;
        display: none !important;
    }
    .mission{
        top: -40px;
        left: 420px !important;
        z-index: 10;
        width: 80%;
        display: none !important;
    } 
    .btn-custom-1{
        width: 80%;
    }
    .btn-custom-2 {
        margin-top: 1rem;
        width: 80%;
        border: 2px solid white !important;
        border-radius: 25px !important;
    }
    .elipse-img{
        width: 80% !important;
        padding: 0 1rem;
      }
      .download-icon{
        position: absolute;
        top: 0px;
        left: 70px;
        width: 50%;
        z-index: 10;
    
        }
        .apple{
            top: 170px;
            left: 90px;
            width: 20%;
            
            }
        .google{
            top: 170px;
            left: 220px;
            width: 20%;
        }
        .arrow-left{
            top: 260px;
            left: 120px;
            
            }
            .arrow-right{
            top: 260px;
            left: 225px;
        }

        .img-text{
            position: absolute;
            top: 385px;
            left: 35px;
            text-align: center;
            
        }
        .try-out--text{
            top: 60px;
            left: 0px;
            right: 20px;
        }
       
        .subscribe{
            border-radius: 100px;
            
        }
         /* faq */
     .other-question{
        width: 50%;
        
    }
  
}

@media (max-width: 576px){ 
  
    /* .sav_earn-img{
        top: -100px;
        left: 580px !important;
        width: 100%;
        z-index: 1;
    
    }
    .mission{
        top: -100px;
        left: 650px !important;
        z-index: 10;
    }  */
    .hero-text{
        width: 100%;
    }
    .hero-btn{
        
        width: 100%;
    }
    
    .btn-custom-2 {
        margin-top: 1rem;
        width: 80%;
        border: 2px solid white !important;
        border-radius: 25px !important;
    }
    .btn-custom-1{
        width: 80%;
    }
    .img-text{
        top:350px;
        left: 3px;
        width: 80%;
        margin-bottom: 10px;
        
    }
    .ellipse{
        display: none !important;
    }
     /* faq */
     .other-question{
        width: 80%;
        
    }
}
        
@media (max-width: 375px) {

/* .cust-logo{
    width: 60%;
} */
.custom-col-4{
    display: none;
}
.mission{
    position: absolute;
    top: 40px;
    display: none;
}
.sav_earn-img {
    position: absolute;
    top: -20px;
    display: none;
}

.elipse-img{
    width: 100% !important;
    }
.download-icon{
    position: absolute;
    top: 0px;
    left: 60px;
    width: 50%;
    z-index: 10;

}
    .apple{
        top: 151px;
        left: 60px;
        width: 25%;
        
        }
    .google{
        top: 151px;
        left: 145px;
        width: 25%;
    }
    .why-heading{
        
        font-size: 2.3rem;
    }
   
    .why-desc{
        width: 100%;
    }
    .why-img{
        width: 100%;
    }
    .scribbling{
        top: 210px;
        left: -80px;
        z-index: 40;
        
    }

    .img-text{
        top: 200px;
        left: 15px;
        font-size: 1rem;
        width: 80%;
        margin-bottom: 10px;
        
    }
    .try-out--text{
        top: 60px;
        left: 0px;
        right: 20px;
    }
   
    .try-out--earn{
        left:0px;
        width: 100%;
    }
    .appstore-btn{
        width: 50%;
    }
    .subscribe{
        border-radius: 100px;
        
    }
    .try-out--img{
        width: 100%;
        height: 400px;
        border-radius: 40px;
    }
    .subscribe{
        border-radius: 40px;
    }
    .footer-border {
        border-radius: 40px !important;
        
    }
    /* faq */
    .other-question{
        width: 80%;
        
    }
}