:root{
    --green: #009933 ;
    --darkblue: #123845;
    --fontblue: #142D36;
    --lightblue: #3992CC;
    --lightgrey: #6D7578;
    --pink: #FF3A44;
    --purple: #845CA7;
    --lightgreen: #2DA771;


}
*, *::before, *::after{
    box-sizing: border-box !important;
}
body a, li{
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

/* nav */

.cust-nav-bar{
    width:100%;
}
.cust-logo{
    width: 60%;
}
.custom__nav-link{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem;        
    color: hsla(0, 0%, 0%, 1) !important;
}
.custom__nav-link-1{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem; 
    color: #FF3A44!important;
}
.btn-custom{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem; 
    background-color: var(--darkblue) !important;
    color: white !important;
}

/* main */

.hero-img{
    background-color: var(--darkblue);
    width: 100% !important;
    min-height: 350px !important;
    
    padding-bottom: 10% !important;
    border-radius: 40px !important;
}
.hero-index h1{
    font-family: 'Milligram Trial', sans-serif;
}
.reuseable{
    color: var(--green) !important;
}
.hero-index .animate-text u{
    display: inline-block;
    display: none;
}

.hero-index span u.text-in{
	display: block;
	animation: textIn .5s ease;
}
.hero-index span u.text-out{
	animation: textOut .5s ease;
}
@keyframes textIn{
	0%{
		transform: translateY(30%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-30%);

	}
}
.hero-index p{
    font-family: 'Avenir', sans-serif;
    font-size: 1.3rem !important;
    font-weight:100 !important;
}


.btn-custom-1{
    background-color: var(--lightblue) !important;
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem !important;
    font-weight:200 !important;
    width: 100%;

}
.btn-custom-2{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem !important;
    font-weight:300 !important;
    /* margin-left: 1rem; */
}

/* .custom-col-4{
   top: 0% !important;
   left: 0% !important;
   

} */
.mission{
position: absolute;
 top: -15px;
 left: 680px;
}
.sav_earn-img {
    position: absolute;
    top: -100px;
    left: 720px;
    z-index: 50;
}
.stats-section{
    margin-top: 10rem !important;
}

.text-group span{
    font-size: 1.3rem !important;
}
.waste_figures{
    font-family: 'Neogrey Medium', sans-serif;
    font-size: 1.3rem !important;
    color: var(--darkblue);
}

.waste_figures__desc{
    font-family: "Avenir", sans-serif;
    font-size: 1rem !important;
    color: var(--lightgrey);
    height: 60% !important;
    
}
.waste_figures__link {
    font-family: "Avenir", sans-serif;
    font-size: 0.9rem !important;
    color: var(--pink) ;
   
}
.waste_figures__link-1{
    color: var(--purple);
    font-size: 0.9rem !important;
    font-family: "Avenir", sans-serif;
   

}
.waste_figures__link-2{
    color: var(--green);
    font-size: 0.9rem !important;
    font-family: "Avenir", sans-serif;

   

}
.plastic_stats{
   margin-top: 20px;
}

.seal-video-section{
    margin-top: 20%!important;
}
.video-circle {
    width: 100%;
}


.brand-testimonial{
    width: 100%;
}



.users-category-detail{
    display: none;
}
.showing{
    display: block !important;
}
.custom-list{
    font-family: "Avenir", sans-serif;
    font-size: 1.2rem !important;
    color: var(--fontblue);
    background-color: #F5F5F5;
    border: 1px solid #E2E2E2;
}


.custom-list:hover{
    background-color: var(--lightgreen);
    border-color: var(--green);
    color: white !important;
    }


.image-container{
    position: relative;
}


.elipse-img{
    width: 100% !important;
}

.try-out{
    /* margin-right: 1rem 3rem; */
    background-image: url('../images/hero_rectangle.png');
    width: 100% !important;
    min-height: 450px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px !important;
    z-index: 300;
}
.apple{
    position: absolute;
    top:300px;
    left: 95px;
    right: 30px;
    width: 25%;
    z-index: 20;
    }

.btn-earn{
        width: 100% !important;
        background-color: var(--lightblue) !important;
        font-family: 'Avenir', sans-serif;
        font-size: 1.2rem !important;
        font-weight:200 !important;
}
.ellipse{
    width: 500px; 
    height: 500px; 
    background-color: #e5e5e5; 
    border-radius: 50%;
}

.circle-left{
    background-color: rgb(150, 150, 223); 
    border-radius: 50%; 
    height: 100px; 
    width: 100px;
    top: 350px;
    left: 160px;
}
.circle-right{
    background-color: rgb(143 135 246); 
    border-radius: 50%;
    height: 80px; 
    width: 80px;
    top: 350px;
    left: 280px;
}

.btn-earn{
    width: 100% !important;
    background-color: var(--lightblue) !important;
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem !important;
    font-weight:200 !important;
    
}
.why-section{
   background-color: #F6F4F9; 
   padding-top: 20px;
   padding-bottom: 80px;
   
   
}
.why-heading{
    font-family: 'Avenir', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: var(--darkblue);
}
.why-desc{
    font-family: 'Avenir', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    color: #7E7E7E;
    width: 100%;
}
.custom__nav-item{
    font-family: 'Avenir', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    background-color: transparent !important;
}
.custom-active{
    border-radius: 30px !important;
    background-color: black !important;
    color: white !important;
}

.custom__nav-item:hover{
    border-radius: 30px !important;
    background-color: black !important;
    color: #ffff !important;
}
.video-circle{
    width: 100%;
}
.why-img,.economic-img,.social-img, .tech-img{
    width: 80% !important;
    position: relative;
    margin-bottom: 20px !important;
}
.img-text{
    font-family: 'Avenir', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    width: 25rem;
    position: absolute;
    top: 420px;
    left: 70px;
    text-align: center;
    
}
.get-app{
    padding-top: 60%;
    z-index: 500;
}

.scribbling{
    position: absolute;
    width: 60%;
    top: 60px;
    left: -115px;
    z-index: 100;
    
}

.try-out--img{
    width: 100%;
    height: 400px;
}

.sustainable{
    color: var(--purple);
}
.appstore-btn{
    width:20%;
    
}
.googleplay-btn{
    width:20%;
   
}
.cust-accord-btn{
    font-size: 1.5rem !important;
}
.accordion--btn{
    border: none !important;
    background-color: #F5F5F5 !important;
    
}
.more{
    color: var(--pink);
}

/* footer */
.subscribe{
    border-radius: 100px !important;
}
.footer-border{
    border-radius: 600px !important;
}


/* faq page styling*/

.cust-search{
    background-color: #f5f5f5 !important;
    width: 60% !important;
    margin: 0 auto;
}
.search-icon{
    height: 50px !important;
    padding: 10px;
}
.other-question{
    width: 10%;
    
}


.accordion-button.collapsed::after {
    background-image: url( '../images/add-circle.svg'
    );
    margin-left: auto;
  }
  .accordion-button-active::after {
    background-image: url("../images/minus-solid.svg");
  }

  
/* footer */
.subscribe{
    background-color: var(--lightblue);
    border-radius: 45px;
    
}


.footer-border{
    margin-top: 55px !important;
    border-radius: 160px !important;
    border: 2px solid black !important;
    padding: 50px;
    font-family: 'Avenir', sans-serif;
    
}
footer li a{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
footer li a:hover{
    color: var(--purple);
}
.footer-heading{
    color: black;
    font-weight: 900;
}
.reach-out{
    font-size: .8rem !important ;
}







@media (min-width: 375px) {
 
    .index-section{
        margin-top: 10rem !important;
    }
    .hero-index p{
        margin-top: 20px !important ;
    }
    .btn-earn{
        width: 50% !important;
        font-size: 1rem !important;
    }
.btn-custom-2{
    margin-top: 10px !important;
    font-size: 1rem !important;

}
.mission{
    position: absolute;
    top: 40px;
    display: none;
}
.sav_earn-img {
    position: absolute;
    top: -20px;
    display: none;
}
.scribbling-img{
    position:absolute;
    top:0px;
    left: 0%;
    width:80%;
}
.partners-img{
    width: 70%;
    
}
.unique-partners{
    width: 50% !important;
}
.unique-partners-1{
    width: 100% !important;
}

.ellipse{
  display: none !important;
    }

   
.why-heading{
    font-size: 2rem !important;
}
.why-desc{
    font-size: 1.2rem !important;
    /* text-align: justify !important; */
    /* width: 300px !important; */
}
.appstore-btn{
    width:40% !important;
    
}
.googleplay-btn{
    width:40% !important;
   
}

.stats-section{
    margin-top: 2rem !important;
    }

.other-question{
    width: 100% !important;
}
 
}

@media (min-width: 576px){ 
  

    .partners-img{
     width: 50% !important;   
    }
    .unique-partners{
        width: 35% !important;
    }
    .unique-partners-1{
        width: 65% !important;
    }
    .hero-index{
        width: 100%;
        line-height: 30px !important;
    }
    .hero-index p{
        margin-top: 20px !important;
    }
   
    
    .btn-custom-2 {
        margin-top: 1rem;
        width: 80%;
        border: none !important;
        border-radius: none !important;
    }
    .btn-custom-1{
        width: 100%;
    }
    .btn-earn{
        width: 50% !important;
    }
    .scribbling-img{
        position:absolute;
        top:-150px;
        left: 45%;
        width:48%;
    }
    .img-text{
        top:350px;
        left: 3px;
        width: 80%;
        margin-bottom: 10px;
        
    }
    .why-section{
        padding-top:0 !important;
        
        
     }
    .why-desc{
        text-align: start !important;
    }
    .stats-section{
        margin-top: 3rem !important;
        }
    .ellipse{
        display: none !important;
        
    }
    .shoppers{
        display: none !important;
    }
    .appstore-btn{
        width:30% !important;
        
    }
    .googleplay-btn{
        width:30% !important;
       
    }
     /* faq */
     .other-question{
        width: 80%;
        
    }
}

@media (min-width: 768px) {
   
    .hero-index{
        width: 100%;
        /* padding-left: 10%!important; */
        padding-top: 2% !important;

    }
    .custom-col-4{
        display: block !important;
        top: 500px;
        left:-240px;
    }
    
    
    .scribbling-img{
        position:absolute;
        top:-220px;
        left: 35%;
        width:55%;
    }
    .shoppers{
        display: block;
        position: absolute;
        top: 90px !important;
        left:32%  !important;
        width: 40% !important;
            
    }
   
    .ellipse{
        display: block !important;
        width: 500px; 
        height: 500px; 
    }
    
   
    .btn-custom-1{
        width: 100% !important;
    }
    .btn-custom-2 {
        margin-top: 1rem;
        width: 50%;
        border: none !important;
        border-radius: 25px !important; 
    }
    .btn-earn{
        width: 40% !important;
        background-color: var(--lightblue) !important;
        font-family: 'Avenir', sans-serif;
        font-size: 1.2rem !important;
        font-weight:200 !important;
        margin-left: 27px !important;
    }
    .elipse-img{
        width: 80% !important;
        padding: 0 1rem;
        }
        .ellipse{
        display:block;
        width: 350px; 
        height: 350px; 
    }
    .why-heading{
        font-size: 3rem;
       
    }
    .why-desc{
        text-align: justify !important;
        width: 90% !important;
    }
        
    .get-app{
        margin-top: 3rem !important;
    }
    
    .store{
        width: 70%;
    }
            
    .shoppers{
        display: block !important;
        position: absolute;
        top: 80px;
        left: 25%;
        width: 50%;
            
            }
    .apple{
        top: 170px;
        left: 90px;
        width: 20%;
        
        }
    .google{
        top: 170px;
        left: 220px;
        width: 20%;
    }
    .circle-left{
        display: none;
        top: 260px;
        left: 120px;
        
        }
        .circle-right{
        display: none;
        top: 260px;
        left: 225px;
    }

    .img-text{
        position: absolute;
        top: 385px;
        left: 35px;
        text-align: center;
        
    }
    .try-out--text{
        top: 60px;
        left: 0px;
        right: 20px;
    }
    
    .subscribe{
        border-radius: 100px;
        
    }
        /* faq */
    .other-question{
    width: 50%;
    
}
    
}

@media(min-width:992px){

    .sav_earn-img{
        display: block;
        position: absolute;
        width: 55% !important;
        top: 22% !important;
        left: 440px !important;
        }
    .mission{
        display: block;
        position: absolute;
        width: 30% !important;
        top: 90% !important;
        left: 600px !important ;
        z-index: 50;
    }
    .hero-index{
        width: 100%;
        padding-top: 2% !important;
        padding-left: 8% !important;
    }
    .hero-index h1{
        font-size: 2.8rem !important;
    }
   
   
    
    .btn-custom-2 {
        margin-top: 0px;
        width: 40% !important;
        
    }
    .btn-custom-1{
        width: 100% !important;
        padding: none !important;
    }
    
    .btn-earn{
        width: 20% !important;
        background-color: var(--lightblue) !important;
        font-family: 'Avenir', sans-serif;
        font-size: 1.2rem !important;
        font-weight:200 !important;
        margin-left: 0 !important;
    }
    
    
    .partners-img{
        width: 60% !important;
        /* padding: 4rem 0; */
    }
    .unique-partners{
        width: 35% !important;
    }
    .unique-partners-1{
        width: 65% !important;
    }
    .shoppers{
        display: block !important;
        position: absolute;
        top: 80px;
        left:22%  !important;
        width: 40% !important;
            
    }
    
    .ellipse{
        width: 400px !important; 
        height: 400px !important; 
    }
    
    .circle-left{
        display: none;
        top: 260px;
        left: 120px;
        
        }
        .circle-right{
        display: none;
        top: 260px;
        left: 225px;
    }
    
            
    .why-desc{
        font-family: 'Avenir', sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        width: 100%;
    }
    
    
    .apple{
        top: 210px;
        left: 120px;
        
        }
    
        .google{
        top: 210px;
        left: 250px;
        
        }
    
        .scribbling{
        width: 60%;
        top: 110px;
        left: -28px;
        
    }
    
    .img-text{
        top: 400px;
        left: 60px;
        
    }
    
    .appstore-btn{
        width:20% !important;
        
    }
    .googleplay-btn{
        width:20% !important;
       
    }
    
    /* footer */
    
    .subscribe{
        border-radius: 80px;
    }
    
    .footer-border{
        border-radius: 160px !important;
    }
    
    /* faq */
    .other-question{
        width: 80%;
        
    }
    
}

@media(min-width:1200px){
   
    .hero-index{
        width: 100%;
        padding-left: 10%!important;
        padding-top: 5% !important;
    
    }
   
    .sav_earn-img{
        display: block;
        position: absolute;
        width: 55% !important;
        top: 8% !important;
        left: 540px !important;
        }
    .mission{
        display: block;
        position: absolute;
        width: 30% !important;
        top: 90% !important;
        left: 680px !important ;
        z-index: 50;
    }
    .why-desc{
        font-family: 'Avenir', sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        color: #7E7E7E;
        width: 90% !important;
    }
    
    .partners-img{
        width: 100%;
        padding: 4rem 0;
    }
    .unique-partners{
        width: 50% !important;
    }
    .stats-section{
    margin-top: 10rem !important;
    }
    .btn-custom-2{
        margin-left: -5%;
    }
    .btn-custom-1{
        width: 100% !important;
       
    }
    
    .btn-earn{
        width: 20% !important;
        background-color: var(--lightblue) !important;
        font-family: 'Avenir', sans-serif;
        font-size: 1.2rem !important;
        font-weight:200 !important;
    }
    
    .shoppers{
        position: absolute !important;
        top: 120px !important;
        left: 30%  !important;
        width: 40% !important;
            
    }
    .store{
        width: 100% !important;
    }
 
    .get-app{
        padding-top: 65%;
        z-index: 500;
        padding-right:9%;
    }
 
    
    .try-out--text{
        top: 60px;
        left: 200px;
    }
    
    .ellipse{
        width: 550px !important; 
        height: 550px !important; 
        background-color: #e5e5e5; 
        border-radius: 50%;
    }
    .circle-left{
        display: none !important;
        top: 70% !important;
        left: 15%;
    }
    .circle-right{
        display: none !important;
        top: 70% !important;
        left: 15%;
    }
    
    .partners-img{
        width: 80%;
        padding: 4rem 0;
    }
    
    
        .other-question{
            width: 50%;
            
        }
    
    
}